In [3]:
import pandas as pd

In [4]:
chipo = pd.read_csv('chipotle.tsv', sep='\t')
from collections import Counter
letter_counter = Counter(self.chipo.item_name)
        # TODO
        # 1. convert the dictionary to a DataFrame
data_frame= pd.DataFrame.from_dict(letter_counter,orient='index').reset_index()

NameError: name 'letter_counter' is not defined

In [1]:
print(data_frame)

NameError: name 'data_frame' is not defined

In [12]:
        from collections import Counter
        letter_counter = Counter(chipo.item_name)
        # TODO
        # 1. convert the dictionary to a DataFrame
        df = pd.DataFrame.from_dict(letter_counter,orient='index').reset_index()
        # 2. sort the values from the top to the least value and slice the first 5 items
        #df = df.rename(columns = {'index' : 'item_name', 0 :'quantity'})
        print(df)

                                    index    0
0            Chips and Fresh Tomato Salsa  110
1                                    Izze   20
2                        Nantucket Nectar   27
3   Chips and Tomatillo-Green Chili Salsa   31
4                            Chicken Bowl  726
5                           Side of Chips  101
6                           Steak Burrito  368
7                        Steak Soft Tacos   55
8                     Chips and Guacamole  479
9                    Chicken Crispy Tacos   47
10                     Chicken Soft Tacos  115
11                        Chicken Burrito  553
12                            Canned Soda  104
13                       Barbacoa Burrito   91
14                       Carnitas Burrito   59
15                          Carnitas Bowl   68
16                          Bottled Water  162
17  Chips and Tomatillo Green Chili Salsa   43
18                          Barbacoa Bowl   66
19                                  Chips  211
20                     Chicken Salad Bowl  110
21                             Steak Bowl  211
22                    Barbacoa Soft Tacos   25
23                         Veggie Burrito   95
24                            Veggie Bowl   85
25                     Steak Crispy Tacos   35
26    Chips and Tomatillo Red Chili Salsa   48
27                  Barbacoa Crispy Tacos   11
28                      Veggie Salad Bowl   18
29     Chips and Roasted Chili-Corn Salsa   18
30     Chips and Roasted Chili Corn Salsa   22
31                    Carnitas Soft Tacos   40
32                          Chicken Salad    9
33                      Canned Soft Drink  301
34                       Steak Salad Bowl   29
35                      6 Pack Soft Drink   54
36    Chips and Tomatillo-Red Chili Salsa   20
37                                   Bowl    2
38                                Burrito    6
39                           Crispy Tacos    2
40                  Carnitas Crispy Tacos    7
41                            Steak Salad    4
42      Chips and Mild Fresh Tomato Salsa    1
43                      Veggie Soft Tacos    7
44                    Carnitas Salad Bowl    6
45                    Barbacoa Salad Bowl   10
46                                  Salad    2
47                    Veggie Crispy Tacos    1
48                           Veggie Salad    6
49                         Carnitas Salad    1

In [13]:
df =chipo.groupby(['order_id']).sum()
df

          quantity
order_id
1                4
2                2
3                2
4                2
5                2
...            ...
1830             2
1831             3
1832             2
1833             2
1834             3

[1834 rows x 1 columns]